<!DOCTYPE html>
  <head>
    <title> Card Connect </title>
  </head>
  <body>
    <div id="topbar">
      <h1> Contacts </h1>
      <div id="new-contact">+</div>
    </div>
    <div id="searchbar">
      <input type="text" id="search" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
    </div>
    <div class="letter-cluster" id="letter-a">
      <div class="letter">A</div>
      <ul class="letter-names">
        <li>Anthony Rodriguez</li>
        <li>Andrea Sudharta</li>
        <li>Ashley Cantu</li>
      </ul>
    </div>
    <div class="letter-cluster" id="letter-b">
      <div class="letter">B</div>
      <ul class="letter-names">
        <li>Ben Sampson</li>
        <li>Brandon Bird</li>
        <li>Brian Moon</li>
      </ul>
    </div>
    <div class="letter-cluster" id="letter-c">
      <div class="letter">C</div>
      <ul class="letter-names">
        <li>Camella Lehmann</li>
        <li>Chance Braun</li>
        <li>Christian Cuevas</li>
      </ul>
    </div>
    <div class="letter-cluster" id="letter-d">
      <div class="letter">D</div>
      <ul class="letter-names">
        <li>Daniel Schuyler</li>
        <li>Dorothy Emanuel</li>
      </ul>
    </div>
  </body>
</html>
