<html>
	<head>
		<!-- Google Analytics Content Experiment code -->
		<script>function utmx_section(){}function utmx(){}(function(){var
		k='190710345-0',d=document,l=d.location,c=d.cookie;
		if(l.search.indexOf('utm_expid='+k)>0)return;
		function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
		indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
		length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
		'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
		'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
		'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
		valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
		'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
		</script><script>utmx('url','A/B');</script>
		<!-- End of Google Analytics Content Experiment code -->
		<title> Card Connect </title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/newcontact.css">
		<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-135347833-1', 'auto');
			ga('send', 'pageview');
		</script>
		<!-- End Google Analytics -->
	</head>
	<body>
		<form class="new-contact" role="form" onsubmit="return sendData()" method="post" action="/contactlist">
		<div class="top-bar">
			<a class="back-button" href="contactlist">Back</a>
			<h3>New Card</h3>
			<input class="done-button" type="submit" value="Done">
		</div>
			<div class="header-img">
				<div class="img-container">
					<object id="template-1" data="/images/template-1.svg" type="image/svg+xml" class="card">Your browser does not support SVG</object>
					<object id="template-2" data="/images/template-2.svg" type="image/svg+xml" class="hide">Your browser does not support SVG</object>
					<object id="template-3" data="/images/template-3.svg" type="image/svg+xml" class="hide">Your browser does not support SVG</object>
					<object id="template-4" data="/images/template-4.svg" type="image/svg+xml" class="hide">Your browser does not support SVG</object>
					<button type="button" class="prev" onclick="shiftSlide(-1)">&#10094;</button>
					<button type="button" class="next" onclick="shiftSlide(1)">&#10095;</button>
					<input id="template" type="text" name="template" style="display: none;">
					<input id="svg" type="text" name="svg" style="display: none;" value="true">
					<div class="dot-container">
						<div id="dot-1" class="dot highlight" onclick="changeSlide(1)"></div>
						<div id="dot-2" class="dot" onclick="changeSlide(2)"></div>
						<div id="dot-3" class="dot" onclick="changeSlide(3)"></div>
						<div id="dot-4" class="dot" onclick="changeSlide(4)"></div>
					</div>
				</div>
			</div>
			<div class="header-text">
				<input id="first" type="text" name="first" placeholder="First Name*" required><br>
				<input id="last" type="text" name="last" placeholder="Last Name*" required>
				<!--
				<h3>New Image Upload</h3>
				<input type="file" name="newImage" placeholder="New Picture">
				-->
			</div>


			<div class="body">
				<div class="input-field">
					<img src="images/icon-call.svg">
					<input id="phone" type="number" class="new" name="phone" placeholder="Phone">
				</div><br>

				<div class="input-field">
					<img src="images/icon-company.svg">
					<input id="company" type="text" class="new" name="company" placeholder="Company">
				</div><br>

				<div class="input-field">
					<img src="images/icon-globe.svg">
					<input id="website" type="text" class="new" name="website" placeholder="Website">
				</div><br>

				<div class="input-field">
					<img src="images/icon-mail.svg">
					<input id="email" type="email" class="new" name="email" placeholder="Email">
				</div><br>

				<div class="input-field">
					<img src="images/icon-home.svg">
					<input id="line1" type="text" class="new" name="line1" placeholder="Address line 1"><br>
					<input id="line2" type="text" class="new" name="line2" placeholder="Address line 2">
				</div><br>
			</div>
		</form>

		<script>
			window.onload=function() {
				updateCard();
				$("#template").val("/images/template-1.svg");
			};
			function sendData() {

						ga('send', 'event', 'update', 'click');
						//alert('edit');
			}
			function updateCard() {
				$("input").keyup(function() {
					var a = document.getElementsByClassName("card")[0];
					var svgDoc = a.contentDocument;
					var svgElement = svgDoc.getElementById(this.id);
					svgElement.textContent = $(this).val();
				});
			}

			function loadCard() {
				var a = document.getElementsByClassName("card")[0];
				var svgDoc = a.contentDocument;
				var first = svgDoc.getElementById("first");
				var last = svgDoc.getElementById("last");
				var phone = svgDoc.getElementById("phone");
				var company = svgDoc.getElementById("company");
				var website = svgDoc.getElementById("website");
				var email = svgDoc.getElementById("email");
				var line1 = svgDoc.getElementById("line1");
				var line2 = svgDoc.getElementById("line2");
				if (first == null) {
					setInterval("loadCard()", 100);
				} else {
					first.textContent = $("#first").val();
					last.textContent = $("#last").val();
					phone.textContent = $("#phone").val();
					company.textContent = $("#company").val();
					website.textContent = $("#website").val();
					email.textContent = $("#email").val();
					line1.textContent = $("#line1").val();
					line2.textContent = $("#line2").val();
				}
			}

			function shiftSlide(n) {
				var currentId = document.getElementsByClassName("card")[0].id;
				var currentSlide = parseInt(currentId.substring(currentId.length - 1, currentId.length));
				var newSlide = currentSlide + n

				if (newSlide == 0) {
					newSlide = 4;
				} else if (newSlide == 5) {
					newSlide = 1;
				}

				var currentDot = document.getElementsByClassName("highlight")[0];
				var newDot = document.getElementById("dot-" + newSlide);
				currentDot.classList.remove("highlight");
				newDot.classList.add("highlight");

				document.getElementById("template-" + newSlide).classList.add("card");
				document.getElementById("template-" + newSlide).classList.remove("hide");
				document.getElementById("template-" + currentSlide).classList.remove("card");
				document.getElementById("template-" + currentSlide).classList.add("hide");
				$("#template").val("/images/template-" + newSlide + ".svg");
				loadCard();
			}

			function changeSlide(n) {
				var currentSlide = document.getElementsByClassName("card")[0];
				var newSlide = document.getElementById("template-" + n);
				var currentDot = document.getElementsByClassName("highlight")[0];
				var newDot = document.getElementById("dot-" + n);

				currentSlide.classList.add("hide");
				currentSlide.classList.remove("card");
				newSlide.classList.add("card");
				newSlide.classList.remove("hide");

				currentDot.classList.remove("highlight");
				newDot.classList.add("highlight");
				$("#template").val("/images/template-" + n + ".svg");
				loadCard();
			}
		</script>
	</body>
</html>
