<html>
	<body>
		<title> Card Connect </title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="css/newcontact.css">
	</body>
	<head>
		<div class="top-bar">
			<p >Editing Mode</p>
			<a class="back-button" href="contactlist">Back</a>
		</div>
		<form class="new-contact" action="">
			<div class="header">
				<img src="images/placeholder.png">
				<input type="text" placeholder="Name">
			</div>
			
			<div class="body">
				<div class="input-field">
					<img src="images/icon-call.svg">
					<input type="text" class="field" placeholder="Phone">
				</div><br>
			
				<div class="input-field">
					<img src="images/icon-company.svg">
					<input type="text" class="field" placeholder="Company">
				</div><br>
				
				<div class="input-field">
					<img src="images/icon-globe.svg">
					<input type="text" class="field" placeholder="Website">
				</div><br>
			
				<div class="input-field">
					<img src="images/icon-mail.svg">
					<input type="text" class="field" placeholder="Email">
				</div><br>
			
				<div class="input-field">
					<img src="images/icon-home.svg">
					<input type="text" class="field" placeholder="Address">
				</div><br>
				
				<input class="done-button" type="submit" value="Done" action="">
			</div>
		</form>
	</head>
</html>
