<html>
	<head>
		<title> Card Connect </title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="/css/newcontact.css">
		<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	</head>
	<body>
		<div class="top-bar">
			<h3>New Card</h3>
			<a class="back-button" href="contactlist">Back</a>
		</div>
		<form class="new-contact" role="form" method="post" action="/newcontact/add">
			<div class="header">
				<img src="images/placeholder.svg">
				<input type="text" name="name" placeholder="Name">
			</div>
			
			<div class="body">
				<div class="input-field">
					<img src="images/icon-call.svg">
					<input type="text" class="edit" name="phone" placeholder="Phone">
				</div><br>
			
				<div class="input-field">
					<img src="images/icon-company.svg">
					<input type="text" class="edit" name="company" placeholder="Company">
				</div><br>
				
				<div class="input-field">
					<img src="images/icon-globe.svg">
					<input type="text" class="edit" name="website" placeholder="Website">
				</div><br>
			
				<div class="input-field">
					<img src="images/icon-mail.svg">
					<input type="text" class="edit" name="email" placeholder="Email">
				</div><br>
			
				<div class="input-field">
					<img src="images/icon-home.svg">
					<input type="text" class="edit" name="address" placeholder="Address">
				</div><br>
				
				<input class="done-button" type="submit" value="Done">
			</div>
		</form>
	</body>
</html>
