<html>
	<body>
		<title> Card Connect </title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="newcontact.css">
	</body>
	<head>
		<div class="phone-screen">
			<div id="topbar">
				<div class="header">Editing Mode</div>
				<a class="done-button" href="index.html">Done</a>
			</div>
			<div class="edit">
				<div class="picture-name">
					<img src="../images/placeholder.png">
					<input type="text" placeholder="Name">
				</div>
				
				<div class="input-fields">
					<p class="placeholder"><img src="../images/icon-call.svg">Phone</p>
					<input type="text" class="phone" placeholder="Phone" width="100%">
					
					<p class="placeholder"><img src="../images/icon-company.svg">Company</p>
					<input type="text" class="company" placeholder="Company">
					
					<p class="placeholder"><img src="../images/icon-home.svg">Address</p>
					<input type="text" class="address" placeholder="Address">
					
					<p class="placeholder"><img src="../images/icon-mail.svg">Email</p>
					<input type="text" class="email" placeholder="Email">
				</div>
			</div>
		</div>
	</head>
</html>