<!DOCTYPE html>
  <head>
    <title>New Picture</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/newpicture.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/newcontact.css">
    <script src="/js/canvas-to-blob.min.js"></script>
    <script src="/js/introHCI.js"></script>
    <script src="/js/camera.js"></script>
    <script src="/js/newpicture.js"></script>
  </head>
  <body>
    <div class="top-bar">
			<h3>Take a Picture</h3>
			<a class="back-button" href="/newcontactB">Back</a>
		</div>

    <div id="rsvp">
        <div class="col-6">
          <div id="camera" class="profile" style="max-width: 250px;">
            <video autoplay id="camera-video"></video>
            <button id="camera-button" class="btn btn-primary">Take Photo</button>
          </div>
          
        </div>

        <div class="col-6">
          <canvas id="camera-canvas"></canvas>
        </div>
        <button id="camera-button" class="btn btn-primary" onclick="saveCanvasImage()">Use this Photo</button>
        <script type="text/javascript">
            function saveCanvasImage() {
              // save image as png
              var link = document.createElement('a');
              link.download = "test.png";
              link.href = $("#camera-canvas").get(0).toDataURL("image/png").replace("image/png", "image/octet-stream");
              link.click();
            }
        </script>
        <button id="camera-button" class="btn btn-primary" onclick="useDefaultImage">Use default image</button>
      </div>
      <form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">
        <input type="file" name="sampleFile">
        <input type='submit' value='Upload!'>
      </form>    
  </body>
</html>
