<!DOCTYPE html>
  <head>
    <title>New Picture</title>
  </head>
  <body>
    <form action="upload.htm" method="post" enctype="multipart/form-data">
	<input type="file" accept="image/*" capture>
	<input type="submit" value="Upload">
</form>
  </body>
</html>
