html, body {
    text-align: center;
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-size: 1.1rem;
    line-height: normal;
    height: 100%;
}

p {
    margin-bottom: 0.5rem;
}

.phone-screen {
    background: #456990;
    color: white;
    height: 100vh;
}

#login-button {
    margin: 20px auto;
    background: white;
    border-radius: 15px;
    width: 90px;
    height: 40px;
    font-size: 20px;
}

#title {
    padding: 50px;
    padding-top: 140px;
}

#logo {
    max-width: 400px;
}

h1 {
    padding-top: 100px;
    padding-bottom: 10px;
    font-weight: bold;
}

#rect-grey {
    float: right;
    width: 68px;
    height: 18px;
    margin-top: 23px;

    background: #BFC0C0;
}

#rect-white {
    position: relative;
    float: right;
    width: 100px;
    height: 28px;
    top: 48px;
    margin-right: -68px;
    background: #FFFFFF;
}

#rect-red {
    position: absolute;
    float: left;
    width: 80px;
    height: 57px;
    bottom: 68px;
    background: #EF6B53;
}

#rect-queen {
    position: absolute;
    float: left;
    width: 148px;
    height: 26px;
    bottom: 25px;
    background: #2D3142;
}
.username, .password {
    color: black;
}
.field {
    padding: 10px;
}

#login {
    margin: 20px;
}
.line {
    border: 3px solid black;
    height: 1px;
    width: 200px;
    margin: 40px auto;
}

input {
  padding: 5px;
  font-size: 1rem;
  margin: 0.25rem auto;
  padding: 0.25rem;
  background-color: #456990;
}

input:focus {
  outline: none;
}

.info {
    color: #fff;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px;
  }

  ::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
