body {
    text-align: center;
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-size: 1.25rem;
    line-height: normal;
  }

#login-button {
    border-radius: 15px;
    width: 90px;
    height: 40px;
    font-size: 20px;
}

input {
	font-size: 1rem;
	margin: 0.25rem auto;
	padding: 0.25rem;
	border-color: grey;
	border-width: 1px;
	border-radius: 5px;
}

h1 {
    padding-top: 100px;
    padding-bottom: 10px;
    font-weight: bold;
}

.field {
    padding: 20px;
}

#login {
    margin: 20px;
}
.line {
    border: 3px solid black;
    height: 1px;
    width: 200px;
    margin: 40px auto;
}

input {
  border: 1px solid #ccc;
  padding: 5px;
}
