a {
  color: blue;
  text-decoration: none;
}

body {
  text-align: center;
  margin: 0	px;
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
}

div {
  margin: 0px;
}

.contact-list {
  padding: 5px 0;
}

.phone-screen {
  position: relative;
  margin: 0 auto;
  background: #FFFFFF;
  width: 100%;
}

.logout-button {
	position: absolute;
	top: 15px;
	left: 15px;
}

.plus-button {
	position: absolute;
	top: 15px;
	right: 15px;
}

#icon-plus {
  position: absolute;
  right: 0;
  width: 25%;
}

#searchbar {
  background: #E5E5E5;
  margin-bottom: 20px;
}

#search {
  width: 75%;
  height: 40px;
  font-size: 18px;
  background: #FFFFFF;
  border-radius: 10px;
}

.searchbar-item {
  height: 40px;
  display: inline-flex;
  padding: 0 10px;
  margin: 15px 0;
}

#topbar {
   margin: 30px 0;
}

.dropdown-menu {
  min-width: 5rem;
}