a {
  color: black;
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  text-align: center;
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
}

div {
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.phone-screen {
  position: relative;
  margin: 0 auto;
  background: #FFFFFF;
  width: 100%;
}

#topbar {
  display: flex;
  width: 100%;
  left: 0px;
  top: 0px;
}

.topbar-item {
    display: inline-block;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-text {
  width: 100%;
  left: 126px;
  top: 30px;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

#icon-plus {
  position: absolute;
  right: 0;
  width: 25%;
}

#searchbar {
  height: 75px;
  left: 0px;
  top: 106px;
  background: #E5E5E5;
  padding: 0px 15px;
}

#search {
  width: 75%;
  height: 40px;
  float: left;
  top: 124px;
  margin-top: 15px;
  padding-left: 10px;
  font-size: 18px;
  background: #FFFFFF;
  border-radius: 10px;
}

.searchbar-item {
  height: 40px;
  display: inline-flex;
}

#contact-info {
  padding-top: 20px;
}

.dropdown {
  margin-top: 15px;
}
