html, body {
  text-align: center;
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-size: 1.1rem;
  line-height: normal;
  color: #456990;
}

a {
  color: #456990;
  text-decoration: none;
}

div {
  margin: 0px;
}

#contacts {
  background: white;

  padding: 40px;
}

.contact-list {
  padding: 5px 0;
}

.phone-screen {
  position: relative;
  margin: 0 auto;
  background: #456990;
  color: white;
  height: 100vh;
}

.logout-button {
	float: left;
  height: 33.33px;
  margin-top: 6px;
  font-size: 1rem;
  color: white;
}

.plus-button {
	float: right;
  margin-top: 6px;
  width: 10%;
  max-width: 40px;
}

h3 {
	z-index: 999;
	margin: 0 auto;
	display: inline-block;
	width: calc(100% - 24px - 54px - 50px);
  font-size: 1.7rem;
  font-weight: bold;
}

#icon-plus {
  position: absolute;
  right: 0;
  width: 25%;
}

#searchbar {
  background: #2D3142;
  margin-bottom: 0px;
}

#search {
  width: 75%;
  height: 40px;
  font-size: 18px;
  background: #FFFFFF;
  color: #2D3142;
  border-radius: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BFC0C0;
  opacity: 1; /* Firefox */
}

.searchbar-item {
  height: 40px;
  display: inline-flex;
  padding: 0 10px;
  margin: 15px 0;
}

#topbar {
  padding: 35px 25px;
}

.dropdown-menu {
  min-width: 5rem;
}
