body {
	font-family: Roboto;
	font-style: normal;
	line-height: normal;
}

.top-bar {
	text-align: center;
}

.new-contact {
	clear: both;
}

.header {
	padding-top: 5vh;
	background: linear-gradient(180deg, #bfbfbf 50%, white 50%);
}

.header input {
	display: block;
	margin: 3vh auto;
}

.full-name {
	text-align: center;
	margin-bottom: 3vh;
}

.body {
	text-align: center;
}

.body img {
	float: left;
}

.view {
	border: none;
	border-bottom: 1px solid #000000;
	margin-left: 7px;
	width: 250px;
}
.card {
	width: 70%;
	max-width: 300px;
	display: block;
	margin: 0 auto;
}

.edit {
	margin-left: 7px;
	width: 250px;
}

.input-field {
	clear: both;
	margin: 2vh 0;
	display: inline-block;
}

.done-button, .edit-button {
	position: absolute;
	top: 15px;
	right: 15px;
}

.back-button, .cancel-button {
	position: absolute;
	top: 15px;
	left: 15px;
}

.prof-pic {
	height: fit-content;
	margin: 0 auto;
}

#icon-container {
	width:180px;
	height:30px;
	margin:0 auto;
	display:block;
}

#edit-prof-pic {
    height: 30px;
    width: 30px;
    padding-right: 0px;
    right:0;
    position: inherit;
    margin-right: 15px;
	margin-top:-15px;
}
