body {
	font-family: Roboto;
	font-style: normal;
	line-height: normal;
	margin: 0px;
}

.top-bar {
	text-align: center;
	padding: 20px;
}

h3 {
	margin: 0;
}

.new-contact {
	clear: both;
}

.header-img {
	padding: 3vh 0;
	background: linear-gradient(180deg, #bfbfbf 60%, white 40%);
}

.header-text {
	text-align: center;
	margin-bottom: 3vh;
}

.header-text input {
	display: inline-block;
	margin: 2px 0;
}

.full-name {
	margin-top: 0px;
}

.body {
	text-align: center;
}

.body img {
	float: left;
}

.view {
	border: none;
	border-bottom: 1px solid #000000;
	margin-left: 7px;
	width: 250px;
}

.card {

}

.img-container {
	max-width: 300px;
	height: 200px;
	display: block;
	margin: 0 auto;
	position: relative;
}

.prev {
	position: absolute;
	top: 40%;
	left: -30px;
}

.next {
	position: absolute;
	top: 40%;
	right: -30px;
}

.hide {
	display: none;
}

.dot-container {
	margin: 10px auto;
	max-width: 100px;
}

.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: lightgrey;
	border-radius: 50%;
	display: inline-block;
}

.highlight {
	background-color: black;
}

.new {
	margin-left: 7px;
	width: 250px;
}

.input-field {
	clear: both;
	margin: 2vh 0;
	display: inline-block;
}

.done-button, .edit-button {
	float: right;
	display: inline-block;
}

.done-button {
	margin-top: -22px;
}
.back-button, .cancel-button {
	float: left;
	display: inline-block;
}

.prof-pic {
	height: fit-content;
	margin: 0 auto;
}

#icon-container {
	width:180px;
	height:30px;
	margin:0 auto;
	display:block;
}

#edit-prof-pic {
    height: 30px;
    width: 30px;
    padding-right: 0px;
    right:0;
    position: inherit;
    margin-right: 15px;
	margin-top:-15px;
}

a.svg {
	position: relative;
	display: block;
}

a.svg:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
}
