body {
	font-family: Roboto;
	font-style: normal;
	line-height: normal;
	margin: 0px;
}

html, body, .container {
    height: 100%;
}

button {
    margin-bottom: 30px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

div {
   display: inline;
   text-align: center;
   max-width: 100%;
}

.profile {
    margin-bottom: 20px;
}

.profile div, video, canvas {
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
}



#camera-video {
    display: block;
    max-width: 300px;
    margin: 30px auto;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

#camera-canvas {
    display: block;
    max-width: 300px;
    margin: 30px auto;
    object-fit: cover;
    /*width: 200px;
    height: 200px;*/
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

